<br><br>
<h1 class='shadow'>G_25<h1>
<h3 class='shadow'>What's written, is written. What's not written, is not written. gWall.</h3>
<br><br>
<a href="/gwall/post">Add a post!</a>
<br><br><br><br>

<ul>
  {{#each posts}}
    <li>
      <h3>{{this.username}}</h3>
      <small>{{this.created_at}}</small>
      <br>
      <br>
      <img src={{this.image}} alt="I couldn't figure out how to use img address so now my post looks like shit.">
      <br>
      <p>{{this.rant}}</p>
      <br><br><br><br><br>
    </li>
    <br>
  {{/each}}
</ul>
